@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, body, #app {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
